{% extends "Common/iframe_common.twig" %}
{% block container %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content container-fluid">
                        <div class="table-responsive col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>                                     
                                        <th>名称</th>
                                        <th>邮箱</th>
                                        <th>网址</th>
                                        <th>留言内容</th>
                                        <th>文章标题</th>
                                        <th>回复内容</th>
                                        <th>创建时间</th>
                                        <th>状态</th>
                                        <th width="10%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for comment in comments %}
                                    
                                    <tr>
                                        <td>
                                            {{comment.nickname}}
                                        </td>
                                        <td>
                                            {{comment.email}}
                                        </td>
                                        <td>
                                            {{comment.website}}
                                        </td>
                                        <td>
                                            {{comment.content}}
                                        </td>
                                        <td>
                                            {{comment.title}}
                                        </td>
                                        <td>
                                            {{comment.reply}}
                                        </td>
                                        <td>
                                            {{comment.createtime}}
                                        </td>
                                        <td>
                                            {% if comment.is_show %}
                                            <a href="javascript:void(0)" class="btn btn-sm btn-primary release-btn btn-status" data-id="{{comment.id}}">已审核</a>
                                            {% else %}
                                            <a href="javascript:void(0)" class="btn btn-sm btn-danger btn-draft btn-status" data-id="{{comment.id}}">未审核</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-primary fa-reply-btn" data-id="{{comment.id}}" title="回复">回复</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-danger delete-btn" data-id="{{comment.id}}" title="删除"><i class="fa fa-trash">                                            
                                        </td>
                                    </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="fixed-table-pagination col-md-12">
                            <div class="pull-left pagination-detail">
                                <span class="pagination-info">共<strong>{{pager.total}}</strong>条记录 &nbsp;<strong>{{pager.nowindex}}/{{pager.totalpage}}</strong>页</span>
                            </div>
                            {% autoescape true %}  
                             {{pager.show(1)|raw }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){

        $(document).on('click','.edit-btn',function(){
            var id = $(this).data('id')
            var openLayer = layer.open({
              type: 2,
              closeBtn:1,
              title:'编辑',
              shadeClose: false, //开启遮罩关闭
              area: ['600px', 'auto'],
              maxmin:true,
              content:'{{base_url("admin/Article/editTpl")}}?id='+id,
            });
            layer.full(openLayer)

                
        })


        $('.fa-reply-btn').on('click', function(event) {
          var id = $(this).data('id');
          layer.prompt({title: '回复内容', formType: 2}, function(text, index){
                $.ajax({
                    url: '{{base_url("admin/ArticleComment/reply")}}',
                    type: 'POST',
                    dataType: 'json',
                    data: {'id': id,data:text},
                    timeout:4000,
                    beforeSend:function(){
                        layer.load(2);
                    }
                })
                .done(function(e) {
                    if (e.status!=1) {
                        common.ajaxError(e);
                        return false;
                    }
                    layer.closeAll();
                    window.location.reload();
                    parent.layer.msg(e.message,{
                        icon:1
                    });                

                })
                .fail(function(e) {
                    common.ajaxError(e)
                })
                .always(function() {
                    layer.closeAll('loading');
                });


          });
            /* Act on the event */
        }); 

        $(document).on('click','.delete-btn',function(e){
            var $this = $(this);
            var id = $this.data("id");
            layer.msg("确认删除",{
                time:0,
                btn:['确认','取消'],
                yes:function(){
                    $.ajax({
                        url: '{{base_url("admin/ArticleComment/del")}}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'id': id},
                        timeout:4000,
                        beforeSend:function(){
                            layer.load(2);
                        }
                    })
                    .done(function(e) {
                        if (e.status!=1) {
                            common.ajaxError(e);
                            return false;
                        }
                        layer.closeAll();
                        window.location.reload();
                        parent.layer.msg(e.message,{
                            icon:1
                        });                

                    })
                    .fail(function(e) {
                        common.ajaxError(e)
                    })
                    .always(function() {
                        layer.closeAll('loading');
                    });
                    
                }
            })
        })


        $(document).on('click','.btn-status',function(e){
            var $this = $(this);
            var id = $this.data("id");
            layer.msg("改变发布状态",{
                time:0,
                btn:['确认','取消'],
                yes:function(){
                    $.ajax({
                        url: '{{base_url("admin/ArticleComment/status")}}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'id': id},
                        timeout:4000,
                        beforeSend:function(){
                            layer.load(2);
                        }
                    })
                    .done(function(e) {
                        if (e.status!=1) {
                            common.ajaxError(e);
                            return false;
                        }
                        layer.closeAll();
                        window.location.reload();
                        parent.layer.msg(e.message,{
                            icon:1
                        });                

                    })
                    .fail(function(e) {
                        common.ajaxError(e)
                    })
                    .always(function() {
                        layer.closeAll('loading');
                    });
                    
                }
            })
        })

        $(document).on("click", "#add-user", function(){
           var data = {
                realname:$("#add-realname").val(),
                email:$('#add-email').val(),
                user_role:$('#add-role').val(),
                type:'add'
           }
           $.ajax({
                url: '{{base_url("admin/Article/editUser")}}',
                type: 'POST',
                dataType: 'json',
                timeout:4000,
                data:data,
                beforeSend:function(){
                    layer.load(2);
                }
           })
           .done(function(e) {
                if (e.status!=1) {
                    common.ajaxError(e);
                    return false;
                }
                layer.closeAll();
                window.location.href = window.location.href;
                parent.layer.msg(e.message,{
                    icon:1
                });
           })
           .fail(function(e) {
                common.ajaxError(e)
           })
           .always(function() {
                layer.closeAll('loading');
           });
           
        });
        $(document).on('click','#edit-user',function(){
            var data = {
                uid:$(this).data('id'),
                realname:$("#edit-realname").val(),
                email:$('#edit-email').val(),
                user_role:$('#edit-role').val(),
                type:'edit'
           }
           $.ajax({
                url: '{{base_url("admin/Article/editUser")}}',
                type: 'POST',
                dataType: 'json',
                timeout:4000,
                data:data,
                beforeSend:function(){
                    layer.load(2);
                }
           })
           .done(function(e) {
                if (e.status!=1) {
                    common.ajaxError(e);
                    return false;
                }
                layer.closeAll();
                window.location.reload();
                
                parent.layer.msg(e.message,{
                    icon:1
                });
           })
           .fail(function(e) {
                common.ajaxError(e)
           })
           .always(function() {
                layer.closeAll('loading');
           });
        })

    });

</script>
{% endblock %}