<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{site.sitename}}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{{site.keywords}}{% endblock %}">
    <meta name="description" content="{% block description %}{{site.description}}{% endblock %}">
    <link rel="stylesheet" type="text/css" href="{{base_url('public/home/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{base_url('public/home/css/nprogress.css')}}">
    <link rel="stylesheet" type="text/css" href="{{base_url('public/home/js/highlight/default.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{base_url('public/home/css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{base_url('public/home/css/font-awesome.min.css')}}">
    <link rel="apple-touch-icon-precomposed" href="{{base_url('public/home/images/icon.png')}}">
    <link rel="shortcut icon" href="{{base_url('public/home/images/favicon.ico')}}">
    <script src="{{base_url('public/home/js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{base_url('public/home/js/layer/layer.js')}}"></script>
    <script src="{{base_url('public/home/js/nprogress.js')}}"></script>
    <script src="{{base_url('public/home/js/jquery.lazyload.min.js')}}"></script>
    <script src="{{base_url('public/home/js/pjax/pjax.min.js')}}"></script>
    <script src="{{base_url('public/home/js/bootstrap.min.js')}}"></script>
    <script src="{{base_url('public/home/js/highlight/highlight.min.js')}}"></script>
    <script src="{{base_url('public/home/js/scripts.js')}}"></script>
    {% block style %}{% endblock %}

</head>
<body class="user-select">
<header class="header">
  <nav class="navbar navbar-default" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <h1 class="logo hvr-bounce-in"><a href="http://www.muzhuangnet.com/" title="木庄网络博客"><img src="http://www.muzhuangnet.com/upload/201610/17/201610171329086541.png" alt="木庄网络博客"></a></h1>
      </div>
      <div class="collapse navbar-collapse" id="header-navbar">
        <form class="navbar-form visible-xs" action="{{base_url('search')}}/1" method="get">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">
            <span class="input-group-btn">
            <button class="btn btn-default btn-search" type="submit">搜索</button>
            </span> </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% for nav in navs  %}
            <li><a target="{{nav.target}}" title="{{nav.keywords}}" href="{{nav.href}}" >{{nav.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
{% block container %}{% endblock %}
<footer class="footer">
  <div class="container">
    <p>本站[<a href="http://www.muzhuangnet.com/" >木庄网络博客</a>]的部分内容来源于网络，若侵犯到您的利益，请联系站长删除！谢谢！Powered By [<a href="http://www.dtcms.net/" target="_blank" rel="nofollow" >DTcms</a>] Version 4.0 &nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow" >闽ICP备00000000号-1</a> &nbsp; <a href="http://www.muzhuangnet.com/sitemap.xml" target="_blank" class="sitemap" >网站地图</a></p>
  </div>
  <div id="gotop"><a class="gotop"></a></div>
</footer>

    {% block script %}{% endblock %}
</body>
</html>
